.navBar{
    margin-bottom: 2rem;
    background-color: darkviolet;
    padding-left: 3rem;
    padding-right: 3rem;
}

.colorNavBar{
    background-color:darkviolet;
   
}

.links{
    text-decoration: none;
    color: white;
}

.linksMenuHamburguesa{
    text-decoration: none;
    color: black;
}